/* TASK-FORM */
.task-form {
    display: flex;
    flex-direction: column;
    position:absolute;
    width: 270px;
    background-color: rgb(255, 255, 255, 0.6);  
    
    border-radius: 0.3em;
    padding: 0.2em; 
    z-index: 5;
}

.task-form:hover{
    opacity:1;
    background-color: #F6C440;
    border:2px solid grey;
}

input, textarea, select, option {
  padding: 5px;
  margin: 2px;
}

ul {
  padding: 0;
  margin: 0;
  clear: both;
}

li{
  list-style-type: none;
  list-style-position: outside;
  padding: 2px;
  float: left;
  
}

input[type="checkbox"]:not(:checked), 
input[type="checkbox"]:checked {
  position: absolute;
  left: -9999%;
}

input[type="checkbox"] + label {
  display: inline-block;
  text-align: center;   
  width: 2em;
  height: 2em;
  padding: 5px;
  cursor: pointer;
  border: 1px solid black;
  color: black;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 50%;
}

input[type="checkbox"]:checked + label {
  border: 1px solid white;
  color: white;
  background-color: black;
}

/*  TASK-LIST  */
.space-for-form {
  width: 270px;
  height: 40px;
}

.tasklist-title{
    width: 100%;
    text-align: center;
    padding: 0.3em;      
    border-radius: 4px; 
}

h4,p {
    margin: 0;
}

.task-list {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* TASK */
.task {
    width: 260px;
    color: white; 
    text-shadow: 1px 1px 4px #2e2744;
    margin: 0.2em 0;  
    border: 1px solid grey; 
    border-radius: 0.3em;
    box-shadow: 0 8px 12px 0 rgba(29, 31, 67, 0.37) ;
}

.task-done {    
    opacity: 0.4;
}

.task-title {
    padding: 0.5em;    
    position: relative;
    display: flex;
    cursor: pointer;
}

/* BUTTONS */

.buttons {
    position:absolute;
    display:flex;
    align-items: center;
    right:0;
    padding: 0.2em;    
    border: 0;
    font-weight: bolder;
    cursor: pointer;
}


.buttons button {
    border: none;
    outline: none;
    color: white;
    text-shadow: 1px 1px 4px #2e2744;
    background-color: transparent;
    cursor: pointer;  
}



