.App {
  min-height: 100vh;  
  background-image: url('../features/themes/background-images/mYv2Ir.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5%;
}

ul {
  list-style-type: none;
}
.segment {
  background-color: white;
  opacity: 0.7;
  border-radius: 1em ;
  margin: 1em 0;
}
.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.border {
  border: 1px solid red;
}

.header {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.today {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 3%;
}

.weather {
  width: 300px;
  padding: 1em;
  text-align: left;
}

.weather p, .weather h3 { 
  margin: 0;
  font-size: 12px;
}

.navbar {
  height: 6vh;
  
  justify-content: space-between;
}

.main {
  height: 50vh;
}

.App-link {
  color: rgb(112, 76, 182);
}
