.date {
    display: flex;
    width: 350px;
    color: white; 
    background-color: blueviolet;
    text-shadow: 1px 1px 4px #2e2744;
    margin: 0.2em 0;  
    border: 1px solid grey; 
    border-radius: 0.3em;
    box-shadow: 0 8px 12px 0 rgba(29, 31, 67, 0.37) ;
}
.date-box {
    display: flex;
    align-items: center;
    width: 350px;  
    position: relative; 
}

.date.today {    
    background-color: gold;
}

.date-title {
    width: 400px;
    padding: 0.5em;   
    
    display: flex; 
    
}
/* FORM */
.calendarForm {
    display: flex;
    flex-direction: row;
    width: 350px;
    padding: 5px;
}

.calendarForm input {
    padding: 2px;
    margin: 0;
}

/* BUTTONS */

.buttons {
    position:absolute;
    display:flex;
    align-items: center;
    right:0;
    padding: 0.2em;    
    border: 0;
    font-weight: bolder;
    cursor: pointer;
}