/* colors from picture: https://imageresizer.com/color-picker
style="color: #98B5A3"; calendar
style="color: #DCCF93"; house > #e2cb67 = beter leesbaar
style="color: #937D41"; sport
style="color: #1A5E76"; study
style="color: #6295A9"; today
*/
.header {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
.currentday {
    width: 100%;  
    height: 100%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#calendar-div {
    display: flex;
    justify-content: space-around;
}
#calendar-icon {
    margin-right: 1em;
    color: black;
}
.weather {
    width: 300px;
    height: 100%;
    padding: 1em;
    text-align: left;
    cursor: pointer;
}
  
.weather p, .weather h3 { 
    margin: 0;
    font-size: 12px;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 5vh;      
}

nav {
    height: 2em;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 2vh;        
}

nav > a { 
    display: inline-block;
    width: 100%;
    height: 7vh;
    border: 1px solid grey;
    padding: 0.6em 0.5em;
    color: white; 
    text-shadow: 1px 1px 4px #2e2744;
    text-decoration: none;
    border-radius: 0.8em;
    background-color: grey ;
    opacity: 1;
}

nav > a.active {
    font-weight: 700;
  }

#today-tab {
    background-color: #6295A9;
}

#study-tab {
    background-color: #1A5E76;
}

#sport-tab {
    background-color: #937D41;
}
#house-tab {
    background-color: #e2cb67;
}
#hobby-tab {
    background-color: #98B5A3;
}