nav {
    width: 90vw;   
    height: 2em;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 2vh;        
}

nav > a { 
    display: inline-block;
    border: 1px solid white;
    padding: 0.6em 1em;
    color: white; 
    text-decoration: none;
    border-radius: 6px;
    background-color: grey;
}

nav > a.active {
    font-weight: 700;
  }

#today-tab {
    background-color: #385466;
}

#goals-tab {
    background-color: #5B89A6;
}

#projects-tab {
    background-color: #70A9CC;
}